.category-button {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.category-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.category-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    flex-grow: 1;
    background-color: var(--color-quarternary)
}

.category-text {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--font-white);
    text-align: center;
}

.category-mode-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mode-button {
    width: 120px;
    background-color: gray;
    border-radius: 4px;
}

.mode-text {
    justify-self: center;
    color: var(--font-white);
    font-weight: 1;
    font-size: 14px;
}

