.stopwatch-time {
    width: 75%; 
    font-size: 96px; 
    text-align: center; 
    color: var(--color-text);
    font-family: var(--font-main);
    justify-self: center;
    font-weight: 500;
}

@media (max-width: 768px) {
  .stopwatch-time {
    font-size: 64px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .stopwatch-time {
    font-size: 48px;
  }
}