.stopwatch-time {
    width: 100%; 
    font-size: 120px; 
    text-align: center; 
    color: var(--color-text);
    font-family: 'Courier New', monospace;
    justify-self: center;
    font-weight: 700;
    line-height: 1.2;
}

@media (max-width: 768px) {
  .stopwatch-time {
    font-size: 80px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .stopwatch-time {
    font-size: 64px;
  }
}